@Scripts.Render("~/Scripts/main.js")

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Aviv Manoach</h1>
                <h2 class="text-center">Born 1987</h2>
                <h3 class="text-center">Connecting games and the people who enjoy them 🍻</h3>
                <div class="thumbnail center">
                    <p>
                        Head of Customer Support at StreamElements👩‍🚀<br />
                        Host and producer of the gaming podcasts🎙️ Game Burning Podcast and The Burn🔥.<br />
                        Publisher of the Hebrew tabletop roleplaying games Vanor: Roleplay Adventures⚔️ and Wonders:
                        Heroes of Tomorrow🦸.<br />
                        Developer of the upcoming video games Beehave🐝 and Wyrms Gate🐉.
                    </p>
                </div>
                <div class="thumbnail">
                    <img src="~/Images/IMG_20190411_122114.jpg" style="width: 300px; filter: grayscale(100%); "
                        alt="Aristotle Onassis" class="img-circle">
                    <div class="caption text-center">
                        The Aviv in his natural habitat
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Here are some noteworthy milestones of my career:</h3>
                <ul>
                    <li><strong>2019</strong> - Graduating BA of Communications and Media Studies, magna cum laude.</li>
                    <li><strong>2019</strong> - Joining StreamElements</li>
                    <li><strong>2018</strong> - Publishing Wonders: Heroes of Tomorrow</li>
                    <li><strong>2016</strong> - Supporting the marketing and fundraising for Little Wizards Hebrew
                        translation.</li>
                    <li><strong>2016</strong> - Developing a prototype for an adventure card game based on the world of
                        Vanor.</li>
                    <li><strong>2015</strong> - Launching the Game Burning Podcast.</li>
                    <li><strong>2014</strong> - Joining the staff of On the Shoulders of Dwarves, a tabletop roleplaying
                        podcast.</li>
                    <li><strong>2013</strong> - Publishing Vanor: Roleplay Adventures.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" jumbotron">
        <div class="row ">
            <div class="col-md-12 ">
                <div id="score"></div>
                <div id="content">Need to fill question on start - see onPageLoaded function</div>
                <button id="yes" onclick="clickYes()">Yea</button>
                <button id="no" onclick="clickNo()">Naa</button>
            </div>
        </div>
    </div>

    <footer>
        <cite>
            Writtern and coded by <a href="https://www.freecodecamp.com/glgeorgiou" target="_blank">George Georgiou.</a>
        </cite>
    </footer>
</div>
